<aside id="dashboard">

    <div class="panel-title">

        Painel

    </div>

    <div class="card">

        <div class="card-title">

            Projeto

        </div>

        <div class="card-value">

            Novo Projeto

        </div>

    </div>

    <div class="card">

        <div class="card-title">

            Placa

        </div>

        <div class="card-value">

            Arduino Nano

        </div>

    </div>

    <div class="card">

        <div class="card-title">

            Porta

        </div>

        <div class="card-value">

            ttyUSB0

        </div>

    </div>

    <div class="card">

        <div class="card-title">

            Status

        </div>

        <div class="card-value disconnected">

            ● Desconectado

        </div>

    </div>

    <div class="card">

        <div class="card-title">

            Firmware

        </div>

        <div class="card-value">

            StandardFirmata

        </div>

    </div>

    <div class="card">

        <div class="card-title">

            Memória

        </div>

        <div class="card-value">

            --

        </div>

    </div>

</aside>