<main id="workspace">

    <div class="workspace-header">

        <div class="workspace-title">

            Untitled.mfr

        </div>

        <div class="workspace-actions">

            <button class="ws-btn">

                Salvar

            </button>

            <button class="ws-btn">

                Executar

            </button>

            <button class="ws-btn primary">

                Upload

            </button>

        </div>

    </div>

    <div class="workspace-body">

        <div id="blockly-area">

            <div id="blocklyDiv"></div>

        </div>

    </div>

</main>