<aside id="sidebar">

    <div class="sidebar-top">

        <button class="side-btn active" title="Workspace">

            ⌂

        </button>

        <button class="side-btn" title="Blockly">

            ⬢

        </button>

        <button class="side-btn" title="Código">

            &lt;/&gt;

        </button>

        <button class="side-btn" title="Monitor Serial">

            ◫

        </button>

        <button class="side-btn" title="Arquivos">

            🗁

        </button>

    </div>

    <div class="sidebar-bottom">

        <button class="side-btn" title="Configurações">

            ⚙

        </button>

    </div>

</aside>